@import 'functions';

@mixin flex($align-items: baseline, $direction: row) {
    display: flex;
    align-items: $align-items;
    flex-direction: $direction;
}

@mixin buttonBase() {
    padding: rem(10);
    font-weight: bold;
    background-color: transparent;
    border: rem(2) solid black;
    border-color: transparent;
    border-radius: rem(12);
    transition: .2s;
    cursor: pointer;

    &:hover {
        border-color: black;
    }
}

@mixin pageContentCenter() {
    @include flex(center, column);
    height: 100%;
    padding-bottom: rem(20);
}