@import 'functions';

// I like to use flex all the time, so better to create a mixin for it
@mixin flex($align-items: normal, $direction: row) {
    display: flex;
    align-items: $align-items;
    flex-direction: $direction;
}

@mixin buttonBase() {
    padding: rem(10);
    font-weight: bold;
    background-color: transparent;
    border: rem(2) solid black;
    border-color: transparent;
    border-radius: rem(12);
    transition: .2s;
    cursor: pointer;

    &:hover {
        border-color: black;
    }
}

@mixin inputBase() {
    padding: rem(7);
    border: rem(2) solid gray;
    font-size: rem(16);

    &:hover {
        border-color: black;
    }
}

@mixin buttonHover() {
    background-color: $button-background;
    color: white;
    border-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.24) 0 rem(3) rem(8);
}

@mixin pageContentCenter() {
    @include flex(center, column);
    height: 100%;
}

@mixin mediaLarge() {
    @media only screen and (max-width: rem(1024)) {
        @content;
    }
}

@mixin mediaSmall() {
    @media only screen and (max-width: rem(756)) {
        @content;
    }
}

@mixin mediaExtraSmall() {
    @media only screen and (max-width: rem(330)) {
        @content;
    }
}
