@import 'functions';

@mixin flex($align-items: normal, $direction: row) {
    display: flex;
    align-items: $align-items;
    flex-direction: $direction;
}

@mixin buttonBase() {
    padding: rem(10);
    font-weight: bold;
    background-color: transparent;
    border: rem(2) solid black;
    border-color: transparent;
    border-radius: rem(12);
    transition: .2s;
    cursor: pointer;

    &:hover {
        border-color: black;
    }
}

@mixin pageContentCenter() {
    @include flex(center, column);
    height: 100%;
}

@mixin mediaLarge() {
    @media only screen and (max-width: 1024px) {
        @content;
    }
}

@mixin mediaSmall() {
    @media only screen and (max-width: 756px) {
        @content;
    }
}

@mixin mediaExtraSmall() {
    @media only screen and (max-width: 330px) {
        @content;
    }
}
