@import 'mixins';
@import 'variables';

.card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    min-width: rem(300);
    padding: rem(20) rem(40) rem(20) rem(40);
    height: 100%;
    background-color: rgb(245, 245, 245);
    overflow-y: auto;
}

.card--max-height {
    height: 100%;
}

.card--small {
    width: rem(680);
}

.card--wide {
    width: rem(850);
}

.card__button {
    @include buttonBase;

    border-radius: 0;
    border-color: $button-border;
    width: 100%;
    margin-top: auto;
}