@import 'functions';
@import 'mixins';

.input__wrapper {
    width: rem(320);

    @include mediaExtraSmall() {
        width: rem(260);
    }
}

.input__header {
    @include flex(center);
    justify-content: space-between;
    margin-bottom: rem(5);
}

.input__header-title {
    font-weight: bold;
    font-size: rem(14);
}

.input__header-astersk {
    height: rem(15);
    font-size: medium;
    font-weight: bold;
    color: red;
}

.input {
    width: 100%;
    padding: rem(7);
    border: rem(2) solid gray;
    font-size: rem(16);

    &:hover {
        border-color: black;
    }
}

.input--error {
    border-color: red;
}

.input__error-message {
    display: block;
    margin: rem(5) 0 rem(10) 0;
    color: red;
    font-weight: bold;
    font-size: small;
}