<div class="input__wrapper" [formGroup]="group">
    <div class="input__header">
        <span *ngIf="title" class="input__header-title">{{ title }}</span>
        <span *ngIf="required" class="input__header-astersk">&#8727;</span>
    </div>
    <input
        class="input"
        type="text"
        [class.input--error]="showError"
        [formControlName]="controlName"
        [placeholder]="placeholder"
    />
    <span class="input__error-message" *ngIf="showError">{{ firstError }}</span>
</div>
