@import 'index';

$font-size: rem(14);

.input__wrapper {
    width: $form-field-width;

    @include mediaExtraSmall() {
        width: rem(260);
    }
}

.input__header {
    @include flex(center);
    justify-content: space-between;
    margin-bottom: rem(5);
}

.input__header-optional {
    font-size: $font-size;
    color: gray;
    font-weight: bold;
}

.input__header-title {
    font-weight: bold;
    font-size: $font-size;
}

.input__header-astersk {
    height: rem(15);
    font-size: medium;
    font-weight: bold;
    color: red;
}

.input {
    @include inputBase;

    width: 100%;
}

.input--error {
    border-color: red;
}

.input__error-message {
    display: block;
    margin: rem(5) 0 rem(10) 0;
    color: red;
    font-weight: bold;
    font-size: small;
}