@import 'index';

.user-profile {
    @include pageContentCenter;
}

.user-profile__title {
    align-self: center;
}

.user-profile__info {
    @include flex($align-items: center);

    margin-top: rem(100);
}

.user-profile__inner {
    @include flex($direction: column);

    height: 100%;
}

.user-profile__avatar {
    width: rem(150);
    height: rem(150);
    margin-bottom: rem(20);
    border: rem(3) solid black;

    @include mediaSmall() {
        align-self: center;
    }
}

.user-profile__avatar--round {
    margin-left: 0;
}

.user-profile__grid {
    display: grid;
    grid-template-columns: rem(160) 1fr;

    @include mediaSmall() {
        grid-template-columns: rem(100) 1fr;
    }
}

.user-profile__grid-item {
    padding: rem(15);

    &:nth-child(odd) {
        font-weight: bold;
    }
}

.user-profile__about {
    margin: 0;
}
