@import 'index';

.user-information {
    @include pageContentCenter;
}

.user-information__title {
    margin-bottom: rem(30);
}

.user-information__inner {
    @include flex(center, column);

    height: 100%;
}

.user-information__text-area {
    width: 100%;
}

.user-information__text-area--avatar {
    width: $form-field-width;
}

.user-information__drag-and-drop {
    width: 100%;
    margin-top: rem(5);
}

.user-information__form {
    @include flex($direction: column);

    height: 100%;
}

.user-information__form-fields {
    @include flex;

    justify-content: space-between;
    flex-wrap: wrap;

    ds-input ~ ds-input {
        margin-bottom: rem(15);
    }

    ds-file-input {
        margin-bottom: rem(15);
    }

    @include mediaSmall() {
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;

        ds-input ~ ds-input {
            margin-bottom: rem(10);
        }
    
        ds-file-input {
            margin-bottom: rem(10);
        }
    }
}

.user-information__last-row {
    @include flex($align-items: center);

    justify-content: space-between;
    width: 100%;

    @include mediaSmall() {
        justify-content: center;
        flex-direction: column-reverse;

        .image {
            margin-bottom: rem(10);
        }
    }
}

.user-information__avatar-container {
    width: $form-field-width;

    .image {
        transition: .2s;
        cursor: pointer;
    
        &:hover {
            max-width: rem(215);
            max-height: rem(215);
        }
    }
}

.user-information__avatar-container--no-corner {
    clip-path: none;    
}

.user-information__save-changes:hover {
    background-color: rgb(3, 158, 11);
}

