@import 'mixins';
@import 'functions';

.user-information {
    @include pageContentCenter;
}

.user-information__title {
    margin-bottom: rem(30);
}

.user-information__inner {
    @include flex(center, column);

    height: 100%;
}

.user-information__field--max-width {
    width: 100%;
}

.user-information__drag-and-drop {
    width: 100%;
    margin-top: rem(5);
}

.user-information__form {
    @include flex($direction: column);

    height: 100%;
}

.user-information__form-fields {
    @include flex($align-items: center);

    justify-content: space-between;
    flex-wrap: wrap;

    ds-input ~ ds-input {
        margin-bottom: rem(15);
    }

    ds-file-input {
        margin-bottom: rem(15);
    }

    @include mediaSmall() {
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;

        ds-input ~ ds-input {
            margin-bottom: rem(10);
        }
    
        ds-file-input {
            margin-bottom: rem(10);
        }
    }
}
