<div class="user-information">
    <ds-card class="card--max-height">
        <ds-loading *ngIf="isLoading"></ds-loading>
        <div *ngIf="!isLoading" class="user-information__inner">
            <h1 class="user-information__title">Edit user details</h1>
            <form
                *ngIf="userInformationGroup"
                class="user-information__form"
                [formGroup]="userInformationGroup"
                (ngSubmit)="updateUserInformation()"
            >
                <div class="user-information__form-fields">
                    <ds-input
                        title="First name"
                        placeholder="John"
                        controlName="firstName"
                        [required]="true"
                        [group]="userInformationGroup"
                        [validators]="[
                            formValidators.required,
                            formValidators.minlength,
                            formValidators.maxlength,
                            formValidators.specialchar
                        ]"
                    ></ds-input>
                    <ds-input
                        title="Last name"
                        placeholder="Smith"
                        controlName="lastName"
                        [required]="true"
                        [group]="userInformationGroup"
                        [validators]="[
                            formValidators.required,
                            formValidators.minlength,
                            formValidators.maxlength,
                            formValidators.specialchar
                        ]"
                    ></ds-input>
                    <ds-input
                        title="Email"
                        placeholder="john.smith@example.com"
                        controlName="email"
                        [required]="true"
                        [group]="userInformationGroup"
                        [validators]="[
                            formValidators.required,
                            formValidators.email
                        ]"
                    ></ds-input>
                    <ds-input
                        dsNumbersOnly
                        title="Phone number"
                        placeholder="123456789"
                        controlName="phone"
                        [required]="true"
                        [group]="userInformationGroup"
                        [validators]="[
                            formValidators.required,
                            formValidators.minlength,
                            formValidators.maxlength
                        ]"
                    ></ds-input>
                    <ds-input
                        title="Date of birth"
                        placeholder="1990.01.01."
                        controlName="birthday"
                        [required]="true"
                        [group]="userInformationGroup"
                        [validators]="[
                            formValidators.required,
                            formValidators.dateformat
                        ]"
                    ></ds-input>
                    <ds-file-input
                        title="Avatar"
                        controlName="avatar"
                        [group]="userInformationGroup"
                        [validators]="[
                            formValidators.size
                        ]"
                        (selectedFile)="previewSelectedAvatar($event)"
                    ></ds-file-input>
                    <div class="user-information__last-row">
                        <ds-textarea
                            class="user-information__text-area"
                            [class.user-information__text-area--avatar]="userAvatarUrl"
                            title="About"
                            controlName="about"
                            [required]="true"
                            [group]="userInformationGroup"
                            [validators]="[
                                formValidators.required,
                                formValidators.textarea_maxlength
                            ]"
                        ></ds-textarea>
                        <div class="user-information__avatar-container">
                            <ds-loading *ngIf="isFileReaderLoading"></ds-loading>
                            <img
                                *ngIf="userAvatarUrl && !isFileReaderLoading"
                                class="image"
                                [class.user-information__avatar-container--no-corner]="avatarBorderState"
                                alt="To be uploaded avatar"
                                title="Click to see without round corners"
                                [src]="userAvatarUrl"
                                (click)="changeAvatarBorder()"
                            />
                        </div>
                    </div>
                </div>
                <button
                    class="card__button user-information__save-changes"
                    type="submit"
                    aria-label="Save changes"
                    [disabled]="isFileReaderLoading"
                >
                    Save changes
                </button>
            </form>
        </div>
    </ds-card>
</div>
