@import 'functions';

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.image {
    clip-path: circle();
    max-width: rem(200);
    max-height: rem(200);
    margin-right: auto;
    margin-left: auto;
    display: block;
}
